node_modules/
src/MeshBoard.Client/wwwroot/vendor/
artifacts/realtime-load-tests/
ops/local/secrets/*
!ops/local/secrets/.gitkeep
ops/vernemq/certs/*
!ops/vernemq/certs/.gitkeep

src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/

.DS_Store
*.db
