:80 {
    handle /api/* {
        reverse_proxy meshboard-api:8080
    }

    handle /.well-known/* {
        reverse_proxy meshboard-api:8080
    }

    handle /mqtt* {
        reverse_proxy vernemq:8080
    }

    handle /_framework/* {
        root * /srv
        file_server
    }

    handle /css/* {
        root * /srv
        file_server
    }

    handle /js/* {
        root * /srv
        file_server
    }

    handle /favicon.ico {
        root * /srv
        file_server
    }

    handle {
        root * /srv

        route {
            try_files {path} /index.html
            header /index.html Cache-Control "public, max-age=0, must-revalidate"
        }

        file_server
    }
}
